<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="">Home</a>
        <a class="breadcrumb-item text-dark" routerLink="">Trades</a>
        <span class="breadcrumb-item active">NewTrade</span>
      </nav>
    </div>
  </div>
  <!-- Breadcrumb Start -->
  <form [formGroup]="TradeForm" (ngSubmit)="addTrade()" novalidate>
    <div class="form-group">
      <label>Trade Start Date</label>
      <input type="date" class="form-control" formControlName="tradeStartDate">
    </div>
    <div class="form-group">
      <label>Trade End Date</label>
      <input type="date" class="form-control" formControlName="tradeEndDate">
    </div>


    <div class="form-group">
      <label>Status</label>
      <select type="text" formControlName="status" class="form-control">
        <option value="PENDING">PENDING</option>
        <option value="ACCEPTED">ACCEPTED</option>
        <option value="REJECTED">REJECTED</option>
      </select>
    </div>
    <div class="form-group">
      <label>Offered Item</label>
      <select class="form-control" formControlName="requestedItem">
        <option *ngFor="let item of items" [ngValue]="item">{{item.title}}</option>
      </select>
    </div>
    <div class="form-group">
    <label>Requested Item</label>
    <select class="form-control" formControlName="requestedItem">
      <option *ngFor="let item of items" [ngValue]="item">{{item.title}}</option>
    </select>
  </div>

    <div class="form-group">
      <label>User</label>
      <select class="form-control" formControlName="user">
        <option *ngFor="let user of users" [ngValue]="user">{{user.lastname}}</option>
      </select>
    </div>

    <button type="submit" class="button" style="text-align: right">Submit</button>
  </form>

  <app-footer></app-footer>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
