


<app-navbar></app-navbar>

    <!-- Carousel Start -->
    <div class="container-fluid mb-3">

                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="assets/front/img/devops.jpeg" >
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            </div>
                        </div>

        </div>
    </div>
    <!-- Carousel End -->














    <app-footer></app-footer>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



