<div class="container-fluid">
  <app-navbar></app-navbar>

  <!-- Breadcrumb Start -->
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="">Home</a>
        <a class="breadcrumb-item text-dark" routerLink="">Shop</a>
        <span class="breadcrumb-item active">Checkout</span>
      </nav>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Claims</span></h2>
    <div class="row px-xl-5">
      <div class="col-lg-7 mb-5">
        <div class="contact-form bg-light p-30">
          <div id="success">
            <h2>Ajouter un nouvel élément</h2>
            <form (ngSubmit)="saveItem()">
              <label for="title">Titre :</label>
              <input type="text" id="title" [(ngModel)]="selectedItem.title" name="title" required>

              <label for="description">Description :</label>
              <input type="text" id="description" [(ngModel)]="selectedItem.description" name="description" required>

              <label for="category">Catégorie :</label>
              <input type="text" id="category" [(ngModel)]="selectedItem.category" name="category" required>

              <label for="state">État :</label>
              <input type="text" id="state" [(ngModel)]="selectedItem.state" name="state" required>

              <button type="submit">Enregistrer</button>
              <button type="button" (click)="cancelEdit()">Annuler</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-lg-5 mb-5">
        <div class="bg-light p-30 mb-30">
          <h2>Liste des éléments</h2>
          <div class="item-list">
            <div class="item-list">
              <h2>Liste des éléments</h2>

              <table class="table-bordered">
                <thead>
                <tr>
                  <th>Titre</th>
                  <th>Description</th>
                  <th>Catégorie</th>
                  <th>État</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of items">
                  <td>{{ item.title }}</td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.category }}</td>
                  <td>{{ item.state }}</td>
                  <td>
                    <button (click)="editItem(item)">Éditer</button>
                    <button (click)="deleteItem(item)">Supprimer</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
