<!-- Topbar Start -->
<div class="container-fluid">
    </div>
        <div>
                <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
                    <div class="col-lg-4">
                        <div style="display: inline-block;; vertical-align: top;">

                            </div>
                            <div style="display: inline-block; vertical-align: top;">
                        <a href="" class="text-decoration-none">
                            <span class="h1 text-uppercase text-primary bg-dark px-2">Eco</span>
                            <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Exchanege</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>





<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a routerLink="" class="nav-item nav-link" >Home</a>

                      <a routerLink="/Purchase" class="nav-item nav-link">Purchase</a>
                      <a routerLink="/items" class="nav-item nav-link">items</a>
                      <a routerLink="/orgs" class="nav-item nav-link">Orgs</a>
                      <a routerLink="/user" class="nav-item nav-link">User</a>
                      <a routerLink="/Checkout" class="nav-item nav-link">Checkout</a>

                        <a routerLink="/Forum" class="nav-item nav-link ">Forum</a>
                        <a routerLink="/Claim" class="nav-item nav-link ">Claim</a>

                      <a routerLink="/trades" class="nav-item nav-link">My Trades</a>
                      <a routerLink="/items" class="nav-item nav-link">Items</a>
                      <a routerLink="/post" class="nav-item nav-link">Posts</a>


                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->
