<!-- Dashboard Sidebar
	================================================== -->
<div>
	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>
				
				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

						<ul data-submenu-title="Dashboard">
							<li><a [routerLink]="['dashboard/users']"><i class="icon-feather-user"></i> Users</a></li>
							<li><a [routerLink]="['dashboard/team']"><i class="icon-feather-users"></i> Team</a></li>
							<li><a [routerLink]="['dashbord/teamBuilding']"><i class="icon-line-awesome-users"></i> Team Building</a></li>
							<li><a [routerLink]="['dashboard/university']"><i class="icon-line-awesome-university"></i> Universities</a></li>
							<li><a [routerLink]="['dashboard/reviews']"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
							<li><a [routerLink]="['dashboard/contract']"><i class="icon-material-outline-gavel"></i> Contracts</a></li>
							<li><a [routerLink]="['dashboard/invoice']"><i class="icon-line-awesome-pencil-square-o"></i> Invoices</a></li>
							<li><a [routerLink]="['dashboard/project']"><i class="icon-feather-git-branch"></i> Projects</a></li>
							<li><a [routerLink]="['dashboard/task']"><i class="icon-line-awesome-check-circle"></i> Tasks</a></li>
							<li><a [routerLink]="['dashboard/training']"><i class="icon-feather-star"></i> Training</a></li>
						</ul>

						<ul data-submenu-title="">
							<li><a ><i ></i> </a></li>
							<li><a ><i></i> </a></li>
						</ul>
						
					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>
</div>
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->